// Windows 版本信息资源：完整信息可提升杀软信任度，也便于识别版本
#pragma code_page(65001)

#include <windows.h>

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,1,3,0
 PRODUCTVERSION 0,1,3,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName", "晨旭口腔"
            VALUE "FileDescription", "牙片拼图 - 牙科影像拼图工具"
            VALUE "FileVersion", "0.1.3.0"
            VALUE "InternalName", "dental-composer"
            VALUE "OriginalFilename", "dental-composer.exe"
            VALUE "ProductName", "牙片拼图"
            VALUE "ProductVersion", "0.1.3.0"
            VALUE "LegalCopyright", "Copyright (C) 2026 晨旭口腔"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0804, 1200
    END
END
